<h4>General info</h4>

<p>
    This is a GUI to demonstrate how to use <code>sails.js</code> and <code>WebSockets</code> to automatic update
    between individual clients. This GUI shows you an example about <em>chat</em> feature which you can easily do
    with <code>angular</code> and <code>sails.js</code>. Basically this is <em>"the best"</em> demonstrative for
    live update features.
</p>


<h4>Backend</h4>

<ul class="list-unstyled">
    <li>
        <a href="https://github.com/tarlepp/angular-sailsjs-boilerplate/blob/master/backend/api/models/Message.js" target="_blank">Message.js</a>
        <span class="text-muted">(model)</span>
    </li>
    <li>
        <a href="https://github.com/tarlepp/angular-sailsjs-boilerplate/blob/master/backend/api/controllers/MessageController.js" target="_blank">MessageController.js</a>
        <span class="text-muted">(controller)</span>
    </li>
    <li>
        <a href="https://github.com/tarlepp/angular-sailsjs-boilerplate/blob/master/backend/api/base/controller.js" target="_blank">controller.js</a>
        <span class="text-muted">(base controller)</span>
    </li>
</ul>

<h4>Frontend</h4>

<ul class="list-unstyled">
    <li>
        <a href="https://github.com/tarlepp/angular-sailsjs-boilerplate/blob/master/frontend/src/app/chat/chat.js" target="_blank">chat.js</a>
        <span class="text-muted">(module configuration)</span>
    </li>
    <li>
        <a href="https://github.com/tarlepp/angular-sailsjs-boilerplate/blob/master/frontend/src/app/chat/chat-component.js" target="_blank">chat-component.js</a>
        <span class="text-muted">(chat component, contains <em>controller, directive and service</em>)</span>
    </li>
    <li>
        <a href="https://github.com/tarlepp/angular-sailsjs-boilerplate/blob/master/frontend/src/app/angular/Directives/KeyPress.js" target="_blank">KeyPress.js</a>
        <span class="text-muted">(key press directive)</span>
    </li>
</ul>