<h3>Sails.js + AngularJS Boilerplate</h3>

<p>
    This is an example boilerplate project for your <em>Sails.js + AngularJS</em> combo. Basically this project
    contains following components:

    <ul class="list-unstyled">
        <li><strong>Backend (Sails.js)</strong>
            <ul>
                <li>Only API, nothing frontend stuff</li>
                <li>Passport.js for user authentication <em>(local, twitter, facebook, g+, etc.)</em></li>
                <li>JWT <em>(JSON Web Tokens)</em> support for API calls</li>
                <li>CORS support</li>
            </ul>
        </li>
        <li><strong>Frontend (AngularJS)</strong>
            <ul>
                <li>Lightweight only client side application</li>
                <li>Authentication to backend</li>
                <li>Route examples for views</li>
                <li>Support for WebSocket communication with backend</li>
                <li>Interceptor for HTTP / Socket communications</li>
            </ul>
        </li>
    </ul>
</p>

<p>
    Use following credentials for login:
    <pre>
username: demo
password: demodemodemo</pre>
</p>

<p>
    Detailed info at <a href="https://github.com/tarlepp/angular-sailsjs-boilerplate" target="_blank">GitHub</a>.
</p>