<ul class="nav nav-tabs" >
    <li data-ui-sref-active="active"><a href="#" data-ui-sref="example.books">Books</a></li>
    <li data-ui-sref-active="active"><a href="#" data-ui-sref="example.authors">Authors</a></li>
    <li data-ui-sref-active="active"><a href="#" data-ui-sref="example.messages">Messages</a></li>
    <li data-ui-sref-active="active"><a href="#" data-ui-sref="example.chat">Chat</a></li>

    <li class="pull-right"
        data-ng-if="showHelp"
    >
        <a href="#" class="help"
            data-ng-click="showHelp()"
        >
            More information about this GUI
            <i class="fa fa-info-circle"></i>
        </a>
    </li>
</ul>