<ul class="nav nav-tabs">
    <li
        data-ng-repeat="item in navigationItems"
        data-ng-class="{active: isActive(item)}"
        data-ui-sref-active="active"
        data-ng-show="isValid(item)"
        data-dropdown
    >
        <a href="#"
            data-ui-sref="{{item.state}}"
            data-ng-if="item.state"
        >
            {{item.title}}
        </a>

        <a href="#" class="dropdown-toggle"
           data-ng-if="item.items"
           data-toggle="dropdown"
        >
            {{item.title}}
            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu" role="menu"
            data-ng-if="item.items"
        >
            <li
                data-ng-repeat="item in item.items"
                data-ui-sref-active="active"
                data-ng-show="isValid(item)"
            >
                <a href="#"
                   data-ui-sref="{{item.state}}"
                   data-ng-if="item.state"
                >
                    {{item.title}}
                </a>
            </li>
        </ul>
    </li>

    <li class="pull-right"
        data-ng-if="modalService"
    >
        <a href="#" class="help"
            data-ng-click="modalService.open()"
        >
            More information about this GUI
            <i class="fa fa-info-circle"></i>
        </a>
    </li>
</ul>