
<div class="form-signin">
    <form method="post" novalidate="novalidate">
        <h2>Please sign in</h2>

        <input type="text" name="username" class="form-control" placeholder="enter username or email" autofocus autocomplete="off"
            data-ng-model="credentials.identifier"
        />
        <input type="password" name="password" class="form-control" placeholder="enter password"
           data-ng-model="credentials.password"
        />

        <button class="btn btn-primary btn-block" data-ng-click="login()">Sign in</button>
    </form>
</div>
