.chat {
  margin: 0 15px;
  padding: 0;

  .messages {
    border: 1px solid #dfdfdf;
    border-top: none;
    border-bottom: none;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    padding: 0 10px;

    code {
      background-color: transparent;
    }

    .time {
      position: absolute;
      left: 5px;
    }

    .message {
      margin-left: 155px;
    }
  }

  .input-group {
    .form-control,
    .input-group-addon {
      &:first-child {
        border-top-left-radius: 0;
      }
    }

    .input-group-btn:last-child > .btn {
      border-top-right-radius: 0;
    }
  }
}