<header>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Boilerplate</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <ul class="nav navbar-nav">
                <li data-ui-sref-active="active">
                    <a href="#" data-ui-sref="anon.about">About</a>
                </li>

                <li
                    data-ui-sref-active="active"
                    data-ng-show="auth.isAuthenticated()"
                >
                    <a href="#" data-ui-sref="board.books">Books</a>
                </li>

                <li
                    data-ui-sref-active="active"
                    data-ng-show="auth.isAuthenticated()"
                >
                    <a href="#" data-ui-sref="board.authors">Authors</a>
                </li>

                <li class="pull-right"
                    data-ng-show="auth.isAuthenticated()"
                >
                    <a href="#" data-ng-click="logout()">Logout</a>
                </li>

                <li class="pull-right"
                    data-ui-sref-active="active"
                    data-ng-show="!auth.isAuthenticated()"
                >
                    <a href="#" data-ui-sref="anon.login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</header>