<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Boilerplate</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <ul id="navigation" class="nav nav-pills"
            data-ng-show="auth.isAuthenticated()"
        >
            <li>
                {{user().firstName}} {{user().lastName}} ({{user().username}})
            </li>

            <li class="pull-right">
                <a data-ng-click="logout()">Logout</a>
            </li>
        </ul>

    </div>
</div>