<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Boilerplate</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <ul id="navigation" class="nav navbar-nav"
            data-ng-show="auth.isAuthenticated()"
        >
            <li data-ui-sref-active="active">
                <a href="#" data-ui-sref="board.books">Books</a>
            </li>

            <li data-ui-sref-active="active">
                <a href="#" data-ui-sref="board.authors">Authors</a>
            </li>

            <li class="pull-right">
                <a href="#" data-ng-click="logout()">Logout</a>
            </li>
        </ul>
    </div>
</div>