@import "mixins";
@import "forms";
@import "components";
@import "bootstrap";
@import "angular";

body {
  cursor: default;
  overflow-y: scroll;
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h5 {
  &:first-of-type {
    margin-top: 10px;
  }
}

.container {
  min-width: 100%;
  max-width: 100%;
}

.main-container {
  margin-top: 50px;
  margin-bottom: 30px;
}

header .navbar-nav {
  float: none;
}

footer {
  .navbar {
    min-height: 25px;
    max-height: 25px;
    text-align: center;

    .navbar-nav {
      float: none;

      &> li {
        float: none;
        display: inline-block;

        > a {
          padding: 0 10px;
          line-height: 25px;
          font-size: 11px;

          .fa {
            position: relative;
            top: 1px;
            margin-right: 3px;
            font-size: 14px;
            color: #999999;
          }

          &:hover {
            color: #3399f3;

            .fa {
              color: #337bd5;
            }
          }
        }
      }
    }
  }
}

.noSelect {
  @include noSelect();
}

.pagination {
  margin: 0;
}

.text-medium {
  font-size: 90%;
}

.text-small {
  font-size: 80%;
}

.help {
  .fa {
    position: relative;
    top: 2px;
    font-size: 20px;
    line-height: 14px;
    margin: 0 0 0 5px;
  }
}

.tooltip {
  .title {
    color: #ffffff;
    border-bottom: 1px solid #9b9b9b;
    margin: 3px 0 5px 0;
    padding: 0;
  }

  .tooltip-inner {
    text-align: left;
  }
}
