.list-search {
  text-align: right;
  padding: 0;

  .fa.fa-plus-circle {
    position: relative;
    top: -6px;
  }

  div.list-search-filters {
    max-width: 300px;

    form {
      position: relative;
      top: -9px;
      margin: 0 0 -2px 0;
      padding: 0;
    }

    .input-group-addon {
      padding: 0 8px;
      cursor: pointer;

      i {
        position: relative;
        top: 1px;
      }
    }

    ul {

        .title {
          font-size: 12px;
          padding: 3px 10px 0;
          text-transform: uppercase;
          white-space: nowrap;
        }

    }

    .dropdown-menu > li > a {
      padding-left: 10px;

      i {
        margin-right: 5px;
      }
    }
  }

  div.list-search-filters,
  ul.pagination {
    display: inline-block;
  }
}