.input-sm,
select.input-sm,
.form-horizontal .form-group-sm .form-control {
  height: 29px;
}

.editable-wrap {
  display: inline;
}

textarea {
  min-height: 350px;
}

.btn {
  &.active {
    span.text-info {
      color: #ffffff;
    }
  }
}