@import "mixins";

.modal {
  overflow: auto;

  .modal-title {
    margin: 0;
  }
}

body.modal-open {
  overflow-y: scroll;
  padding-right: 0 !important;
}

.modal-header,
.modal-footer {
  @include noSelect();
  border-color: #cccccc;
}

.modal-header {
  @include linear-gradient(#ffffff, #eeeeee);
  padding: 10px 15px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  .close {
    margin-top: -10px;
    font-size: 45px;
  }
}

.modal-body {
  @include noSelect();
  overflow-x: auto;
  overflow-y: scroll;

  &.modal-help {
    padding: 0 15px;
  }
}

.modal-footer {
  @include linear-gradient(#eeeeee, #ffffff);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: 0;
  padding: 10px;
}