
<div class="form-login">
    <form name="loginForm" method="post" novalidate="novalidate">
        <h2 class="title">Please login</h2>

        <div class="form-group"
             data-show-errors
        >
            <input type="text" name="username" class="form-control username" placeholder="enter username or email" autofocus autocomplete="off" required="required"
                data-focus-on="username"
                data-ng-model="credentials.identifier"
            />
        </div>

        <div class="form-group"
            data-show-errors
        >
            <input type="password" name="password" class="form-control password" placeholder="enter password" required="required"
                data-ng-model="credentials.password"
            />
        </div>

        <button class="btn btn-primary btn-block"
            data-ng-click="login()"
            data-ng-disabled="!loginForm.$valid"
        >Login</button>
    </form>
</div>
