<ul class="nav nav-tabs">
    <li
        data-ng-repeat="item in navigationItems"
        data-ui-sref-active="active"
    >
        <a
            data-ng-if="item.state"
            data-ui-sref="{{item.state}}">
            {{item.title}}
        </a>

        <a style="text-decoration: line-through;"
            data-ng-if="!item.state"
        >
            {{item.title}}
        </a>
    </li>

    <li class="pull-right">
        <a href="#" class="help"
            data-ng-click="openInformation()"
        >
            More information about this GUI
            <i class="fa fa-info-circle"></i>
        </a>
    </li>
</ul>
