<div class="modal-header">
    <h3 class="modal-title">Please sign in</h3>
</div>

<div class="modal-body form-signin">
    <form method="post" novalidate="novalidate">
        <input type="text" name="username" class="form-control" placeholder="enter username or email" autofocus autocomplete="off"
            data-ng-model="credentials.identifier"
        />
        <input type="password" name="password" class="form-control" placeholder="enter password"
           data-ng-model="credentials.password"
        />

        <div class="checkbox text-center">
            <label>
                <input type="checkbox" name="credentials.rememberMe" value="1" style="float: none; position: relative; top: 1px;"> Remember me
            </label>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary pull-right" data-ng-click="signIn()">Sign in</button>
</div>